@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
$primary-font: 'Archivo Narrow', sans-serif;
@-webkit-keyframes glow {
  50% { box-shadow: 0 0 20px red; }
}
@keyframes glow;
@mixin flex-direction($direction) {
-webkit-box-flex-direction: $direction;
   -moz-box-flex-direction: $direction;
    -webkit-flex-direction: $direction;
            flex-direction: $direction;
}
@mixin display() {
  display: -webkit-box;     
  display: -moz-box;     
  display: -webkit-flex;     
  display: flex;  
}
@mixin justify-content($flex){
  -webkit-justify-content: $flex;
     -moz-justify-content: $flex;
          justify-content: $flex;
}
@mixin align-items($flex){
  -webkit-align-items: $flex;
     -moz-align-items: $flex;
          align-items: $flex;
}
@mixin background-size($size){
-webkit-background-size: $size;
   -moz-background-size: $size;
     -o-background-size: $size;
        background-size: $size;
}
#app {
  @include background-size(cover);
  background: url('http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: $primary-font;
  display: flex;
  height: 100vh;
  width: 100%;
}
.list {
  @include display();
  @include justify-content(flex-start);
  @include flex-direction(row);
  @include align-items(center);
  position: fixed;
  margin: 20px;
  top: 25vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 50vh;
  overflow-x: auto;
}
.list::-webkit-scrollbar {
 display: none;
}
.game {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.5;
}
.focus-game {
  @extend .game;
  transform: scale(1.25);
  white-space: nowrap;
  opacity: 1;
}
.thumbnail {
  margin-bottom: 3px !important;
  height: 70px;
  width: 124px;
  padding: 0;
}
.focus-thumbnail {
  @extend .thumbnail;
  -webkit-animation: glow 3s ease-in-out 1;
  animation: glow 3s ease-in-out 1;
  border: 2px solid red;
  border-radius: 5%;
  margin: 3px;
}
.box {
  line-height: 120%;
  text-align: center;
  color: white;
  position:relative;
  font-size: 1.5vh;
}
.top-box {
  @extend .box;
  transform: scale(1.5);
  margin-bottom: 5px;
}
.bottom-box {
  @extend .box;
  margin-top: 5px;
  transform: scale(1.25);
}
.logo {
  height: 40vh;
}
.container {
  @include justify-content(center);
  display: flex;
  width: 100vw;
}
.calendar-container {
  @extend .container;
  @include flex-direction(column)
  align-items: center;
  position: fixed;
  font-size: 4vh;
  color: white;
  top: 75vh;
}
.no-games {
  text-align: center;
  margin-top: 10vh;
  font-size: 4vh;
  color: white;
}
.detail-modal {
  text-align: center;
  font-size: 1em;
}
.score-board {
  width: 100%;
  td { 
    text-align: center;
    border: 1px solid black;
    width: 33.33%;
  }
  th {
    @extend td;
  }
  tbody{
    tr:nth-child(odd) {
      background-color: #F5F5F5;
    }
  }
}
.spinner-container {
  @extend .container;
  position: fixed;
  top: 89vh;
}
.spinner {
  height: 10vh;
}
.toast-notification {
  width: 100vw !important;
}
.floater {
  float: left;
  width: 33.33%;
}
.game-info {
  @extend .floater;
  font-size: 13px;
  height: 70px;
}