@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow');
$primary-font: 'Archivo Narrow', sans-serif;
@-webkit-keyframes glow {
  50% { box-shadow: 0 0 20px red; }
}
@keyframes glow;
@mixin flex-direction($direction) {
-webkit-box-flex-direction: $direction;
   -moz-box-flex-direction: $direction;
    -webkit-flex-direction: $direction;
            flex-direction: $direction;
}
@mixin display() {
  display: -webkit-box;     
  display: -moz-box;     
  display: -webkit-flex;     
  display: flex;  
}
@mixin justify-content($flex){
  -webkit-justify-content: $flex;
     -moz-justify-content: $flex;
          justify-content: $flex;
}
@mixin align-items($flex){
  -webkit-align-items: $flex;
     -moz-align-items: $flex;
          align-items: $flex;
}
@mixin background-size($size){
-webkit-background-size: $size;
   -moz-background-size: $size;
     -o-background-size: $size;
        background-size: $size;
}
#app {
  @include background-size(cover);
  background: url('http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  font-family: $primary-font;
  display: flex;
  height: 100vh;
  width: 100%;
}
.list {
  @include display();
  @include justify-content(flex-start);
  @include flex-direction(row);
  @include align-items(center);
  position: fixed;
  margin: 20px;
  top: 25vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 50vh;
  overflow-x: auto;
}
.list::-webkit-scrollbar {
 display: none;
}
.game {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.5;
}
.focus-game {
  @extend .game;
  transform: scale(1.25);
  white-space: nowrap;
  opacity: 1;
}
.thumbnail {
  margin-bottom: 3px !important;
  height: 70px;
  width: 124px;
  padding: 0;
}
.focus-thumbnail {
  @extend .thumbnail;
  -webkit-animation: glow 3s ease-in-out 1;
  animation: glow 3s ease-in-out 1;
  border: 2px solid red;
  border-radius: 5%;
  margin: 3px;
}
.box {
  line-height: 120%;
  text-align: center;
  color: white;
  position:relative;
}
.top-box {
  @extend .box;
  font-size: 1em;
  span{
    width: 124px;
    text-overflow: ellipsis;
  }
}
.bottom-box {
  @extend .box;
  font-size: 0.75em;
}
.logo {
  height: 40vh;
}
.container {
  @include justify-content(center);
  display: flex;
  width: 100vw;
}
.calendar-container {
  @extend .container;
  position: fixed;
  font-size: 2em;
  color: white;
  top: 80vh;
}
.no-games {
  text-align: center;
  margin-top: 10vh;
  font-size: 2em;
  color: white;
}
.detail-modal {
  text-align: center;
  font-size: 1em;
}
.score-board {
  width: 100%;
  td { 
    text-align: center;
    border: 1px solid black;
    width: 33.33%;
  }
  th {
    @extend td;
  }
}
.spinner-container {
  @extend .container;
  position: fixed;
  top: 86.5vh;
}
.spinner {
  height: 10vh;
}
.toast-notification {
  width: 100vw !important;
}
.sprite {
  margin: 0 auto;
  transform: scale(0.75);
}
.ATL {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -243px -13px;
  width: 67px;
  height: 67px;
}
.ARI {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -100px -15px;
  width: 67px;
  height: 63px;
}
.BAL {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -171px -13px;
  width: 67px;
  height: 65px;
}
.BOS {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -243px -13px;
  width: 67px;
  height: 67px;
}
.STL {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -315px -13px;
  width: 67px;
  height: 67px;
}
.CHC {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -28px -90px;
  width: 67px;
  height: 67px;
}
.DET {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -100px -90px;
  width: 67px;
  height: 67px;
}
.KC {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -171px -90px;
  width: 67px;
  height: 67px;
}
.LAA {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -243px -90px;
  width: 67px;
  height: 67px;
}
.LAD {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -315px -90px;
  width: 67px;
  height: 67px;
}
.CIN {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -28px -165px;
  width: 67px;
  height: 67px;
}
.HOU {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -100px -165px;
  width: 67px;
  height: 67px;
}
.MIA {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -173px -168px;
  width: 63px;
  height: 61px;
}
.MIL {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -243px -165px;
  width: 67px;
  height: 67px;
}
.NYM {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -315px -165px;
  width: 67px;
  height: 67px;
}
.CLE {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -26px -236px;
  width: 71px;
  height: 76px;
}
.NYY {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -100px -241px;
  width: 67px;
  height: 67px;
}
.PIT {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -172px -241px;
  width: 67px;
  height: 66px;
}
.PHI {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -243px -241px;
  width: 66px;
  height: 67px;
}
.TOR {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -315px -241px;
  width: 66px;
  height: 65px;
}
.COL {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -30px -318px;
  width: 63px;
  height: 67px;
}
.TEX {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -100px -318px;
  width: 67px;
  height: 67px;
}
.TB {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -171px -318px;
  width: 67px;
  height: 67px;
}
.SEA {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -243px -318px;
  width: 67px;
  height: 67px;
}
.OAK {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -315px -318px;
  width: 67px;
  height: 67px;
}
.CWS {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -28px -393px;
  width: 67px;
  height: 67px;
}
.MIN {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -100px -393px;
  width: 67px;
  height: 67px;
}
.SD {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -172px -393px;
  width: 67px;
  height: 66px;
}
.SF {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -243px -393px;
  width: 67px;
  height: 66px;
}
.WSH {
  @extend .sprite;
  background: url('../assets/sprites.png') no-repeat -315px -393px;
  width: 67px;
  height: 67px;
}
