
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
#app {
  background: url(http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100%;
  display: flex;
  font-family: 'Archivo Narrow', sans-serif;
}
.list {
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  -webkit-justify-content: space-evenly; /* Safari */
  justify-content:         space-evenly;
  -webkit-box-flex-direction: row;
  -moz-box-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  position: fixed;
  top: 25vh;
  right: 0;
  bottom: 0;
  left: 0;
  width: 97%;
  height: 50vh;
  background-color: rgb(32, 32, 32, 0.2);
  overflow-x: auto;
  margin: 20px;
}
.list::-webkit-scrollbar {
 display: none;
}
.focus-thumbnail {
  border: 2px solid red;
  -webkit-animation: glow 3s ease-in-out 1;
  animation: glow 3s ease-in-out 1;
}
.game {
  margin-right: 20px;
  margin-left: 20px;
  opacity: 0.5;
}
.focus-game {
  transform: scale(1.25);
  white-space: nowrap;
  opacity: 1;
}
.box {
  line-height: 120%;
  text-align: center;
  color: white;
}
.top-box {
  font-size: 0.9em;
}
.bottom-box {
  font-size: 0.70em;
}
.container {
  justify-content: center;
  display: flex;
  width: 100vw;
}
.logo {
  height: 40vh;
}
.calendar-container {
  position: fixed;
  top: 80vh;
  color: white;
  font-size: 2em;
}
.thumbnail {
  height: 70px;
  width: 124px;
}
.no-games {
  color: white;
  text-align: center;
  font-size: 2em;
}
@-webkit-keyframes glow 
{
  50% { box-shadow: 0 0 20px red; }
}

@keyframes glow 



